<div class="blue-background">
    <section class="container">
      <div class="row justify-content-center text-center fw-semibold">
        <div class="col-sm-12 col-md-5 col-lg-4 mb-4 margin margin-first">
          <a href="/profile">
            <div class="bg-white shadow rounded-4 padding">
                <img src="assets/images/User.png" alt="user-icon">
                <h3>Tu cuenta</h3>
              </div>
          </a>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-4 mb-4 margin">
          <a href="/activities">
            <div class="bg-white shadow rounded-4 padding">
                <img src="assets/images/Bell 01.png" alt="user-icon">
                <h3>Actividades</h3>
              </div>
          </a>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-4 mb-4 margin">
          <a href="/students">
            <div class="bg-white shadow rounded-4 padding">
                <img src="assets/images/Smiley Happy.png" alt="user-icon">
                <h3>Alumnos</h3>
              </div>
          </a>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-4 mb-4 margin">
          <a href="/categories">
            <div class="bg-white shadow rounded-4 padding">
                <img src="assets/images/Tag.png" alt="user-icon">
                <h3>Categorías</h3>
              </div>
          </a>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-4 mb-4 margin">
          <a href="/matriculations">
            <div class="bg-white shadow rounded-4 padding">
                <img src="assets/images/Receipt Lines.png" alt="user-icon">
                <h3>Solicitudes</h3>
              </div>
          </a>
        </div>
      </div>
    </section>
  </div>
  