<section>
    <div class="container d-flex flex-column flex-xl-row">
        <div class="bg-white rounded-4 shadow w-xl-100 mt-5 mx-5 w-md-75 text-align-justify">
            <div class="mx-5 d-flex align-items-center mt-5 pt-4 w-md-100">
                <img src="assets/images/icon.png" alt="Actividades-Paraescolares-Icono" class="me-3">
                <h3 class="fw-semibold">Contacta con nostros</h3>
            </div>
            <div class="mx-5 mt-4 pb-5 align-items-center">
                <p>Puedes ponerte en <strong>contacto</strong> con nosotros utilizando nuestro número de teléfono o nuestro correo electrónico. </p>
                <p>Si estás interesado en <strong>inscribir a tu hijo</strong> a alguna de nuestras actividades y tienes algún tipo de duda no dudes en contactarnos. </p>
                <p>¡Estaremos encantados de ayudarte!</p>

                <div class="d-flex">
                    <img src="assets/images/Phone.png" alt="Icono-De-Teléfono" class="icon me-2">
                    <p><strong>Teléfono:</strong> XXX XX XX XX</p>
                </div>
                <div class="d-flex">
                    <img src="assets/images/email.png" alt="Icono-De-Email" class="icon me-2">
                    <p><strong>Email:</strong> actividadesgmail.com</p>
                </div>
                <div class="d-flex">
                    <img src="assets/images/pin.png" alt="Icono-De-Ubicacion" class="icon me-2">
                    <p><strong>Dirección:</strong> Calle Avenida, Logroño. La Rioja.</p>
                </div>
            </div>
        </div>
        <div class=" w-100 mt-5 mx-5 mx-xl-0">
            <img src="assets/images/kp.jpeg" alt="katy-perry" class="imagen-size shadow rounded-4">
        </div>
    </div>
   
    
</section>