<div class="container table-responsive">
  <div class="d-flex justify-content-end">
    <form class="d-flex w-25 mt-5 justify-content-end" (submit)="indexStudents()">
      <input class="form-control me-2 " type="text" placeholder="Search" aria-label="Search" [(ngModel)]="query" name="searchQuery">
      <button class="button-color-secondary px-3 py-2" type="submit">Search</button>
    </form>
  </div>
  <table class="table mt-5 table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre completo</th>
        <th scope="col">Nombre responsable</th>
        <th scope="col">Apellido responsable</th>
        <th scope="col">Teléfono responsable</th>
        <th scope="col">Email responsable</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let student of students | paginate: {itemsPerPage: 6, currentPage: actualPage}">
        <th scope="row">{{student.id}}</th>
        <td>{{student.nombre}} {{student.apellidos}}</td>
        <td>{{student.nombreAdultoResponsable}}</td>
        <td>{{student.apellidoAdultoResponsable}}</td>
        <td>{{student.telefonoAdultoResponsable}}</td>
        <td>{{student.emailAdultoResponsable}}</td>
        <button class="button-color-secondary mx-2 my-2 p-2" (click)="deleteStudent(student.id)">Eliminar</button>
      </tr>
    </table>
    <pagination-controls (pageChange)="actualPage = $event"  class="pagination-spreads pagination "></pagination-controls>
</div>
